[2017-12-20 18:03] mtrutledge opened #1 "Move away from ModulePackages.target and create the package via a gulp / grunt task"
Currently, the MSBuild task runs a ModulePackages.target build script. Ideally, I would like a gulp/grunt task to create the module package installer. I have some test code, however, it is currently not producing a clean enough zip file.

[2017-12-20 18:04] mtrutledge opened #2 "Move License.txt to a Markdown file and produce final output with the gulp/grunt build task"
We currently produce the ReleaseNotes.txt file from a ReleaseNotes.md file in the project. We should mirror this with the License.txt file.

[2017-12-20 18:10] mtrutledge opened #3 "Implement the SPA Module Yeoman task"
We have an MVC Module Yeoman task working. We need to implement the SPA Module task.

[2017-12-20 18:10] mtrutledge opened #4 "Implement the Persona Bar Yeoman Task"
We have an MVC Module Yeoman task working. We need to implement the Persona Bar task.

[2017-12-20 18:11] mtrutledge opened #5 "Implement the Skin Yeoman Task"
We have an MVC Module Yeoman task working. We need to implement the Skin task.

[2017-12-20 21:26] #2 closed

[2017-12-21 01:33] mtrutledge opened #6 "Test .net core with .net standard as a module."
http://www.dnnsoftware.com/community-blog/cid/155430/future-proofing-running-dotnet-core-on-dnn--it-works

[2017-12-21 04:03] mtrutledge commented on #6
http://www.dnnsoftware.com/community-blog/cid/155444/what-net-core-20-means-for-dnn-opinion

[2017-12-21 05:35] mtrutledge commented on #6
With dotnet core 2.0 out they have a built in react/redux/mvc app. Might be able to leverage this in a spa module and run the module in dotnet core as long as the kestrel server / dotnet core hosting runtime is isntalled.

[2017-12-21 05:36] mtrutledge opened #7 "Remove webforms option from generator"
Since everyone is in a effort to move away from Webforms, for obvious reasons, this generator should not support that option at all.

[2017-12-21 05:40] #7 closed

[2018-01-11 18:36] mtrutledge commented on #5
nvisonative is coming out with a new nvQuickSite theme for DNN. I will use that once it is released to build the template for the theme.

[2018-01-16 16:49] mtrutledge opened #8 "Create template that will also work with dotnet cli."
After finishing the yeoman implementation create the same templates that can be installed with the dotnet cli.

[2018-01-16 16:50] mtrutledge commented on #3
In testing phase now.

[2018-02-07 03:30] mtrutledge commented on #3
Task has been implemented and will be pushed with release 1.0.3

[2018-02-07 03:30] #3 closed

[2018-02-07 03:31] mtrutledge opened #10 "Add ability to generate a template inside the DesktopModules folder"
Currently, the development process assumes development outside of the DesktopModules folder and a local DNN instance. There are enough developers out there that develop within a local DNN instance that the scaffolder needs to take this into account.

[2018-02-07 03:32] mtrutledge opened #11 "Create a Code Lab / Example documentation that shows how to use the generator"

[2018-02-08 17:18] mtrutledge opened #12 "Adjust ReactJS SPA template to access App_Resources"
Currently, there are hard-coded strings in the ReactJS. It would be good to show how to access the App_resources from the ReactJS code.

[2018-04-23 14:35] mtrutledge commented on #2
Thanks Andrew. I will take a look.

[2018-06-29 22:38] nvisionative opened #16 "Compromise for disconnected dev model"
Instead of providing a way for people to develop inside of a DNN instance, I highly recommend documenting the use of symbolic links via Microsoft's built-in Windows 10 command [mklink](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/mklink).  Once the module is "installed" the first time, from there, you could just develop where you want and use MKLINK to map files

[2018-06-30 03:29] mtrutledge commented on #16
That’s a great idea!

[2018-07-03 21:32] nvisionative opened #18 "Issue when module directory name contains dash(es)"
There is an issue when the module directory name contains a dash or dashes.

![screencapture_ 2018-07-03 05 28 pm _1720](https://user-images.githubusercontent.com/4568451/42245370-8c95c690-7ee6-11e8-99c2-17c2f238bf1c.png)

The workaround is to remove all dashes from the module directory name.  It doesn't seem to matter if the parent directory for the module contains a dash or dashes.

![screencapt

[2018-07-03 21:34] mtrutledge commented on #18
Thanks for reporting this David. I will take a look. Have a happy 4th of July!

Matt

[2018-07-03 21:41] nvisionative opened #19 "Issue when the module name contains dash(es)"
There is an issue with the module name contains a dash or dashes.  The current workaround is to not use dashes in the module name.

![screencapture_ 2018-07-03 05 40 pm _1723](https://user-images.githubusercontent.com/4568451/42245840-44f52572-7ee8-11e8-822c-d7ef16905d6a.png)

[2018-07-18 19:42] mtrutledge commented on #19
I have a fix for this I am testing. Should have a new release soon.

[2018-07-18 19:42] mtrutledge commented on #18
I have a fix for this I am testing. Should have a new release soon.

[2018-07-18 19:45] mtrutledge commented on #11
There is a blog post on dnn software about this.

http://www.dnnsoftware.com/community-blog/cid/155574/create-a-dnn-module-in-less-than-2-minutes

[2018-07-18 19:45] #11 closed

[2018-07-18 19:46] mtrutledge commented on #1
This is fixed as of 1.0.6

[2018-07-18 19:46] #1 closed

[2018-07-18 20:20] mtrutledge opened #20 "Add Project to Existing Solution"
I had a problem with version 1.0.6 where adding an SPA module to an existing solution that contained an MVC module did not add the project to the existing solution. Need to verify the _addProjectToSolution call is working correctly for the SPA project.

[2018-07-18 21:43] mtrutledge commented on #16
So I would essentially need to find out where their local DNN instance is installed and then run a command like?

`mklink /d D:\WhereverProjectIs\ C:\inetpub\wwwroot\DotNetNuke\DesktopModules\CompanyName\`

[2018-07-18 22:54] nvisionative commented on #16
Yes, you would also need to link the DLL(s) if applicable.

[2018-07-18 23:18] nvisionative commented on #19
Excellent - thanks @mtrutledge !

[2018-07-18 23:18] nvisionative commented on #18
Excellent - thanks @mtrutledge !

[2018-07-19 02:28] ahoefling opened #21 "[MVC] Add Gulp Build Scripts to .csproj"
When creating a new MVC project the gulp build scripts are not included in the csproj by default. Every time I create a new MVC project I have to manually include the following files:

+ `build.js`
+ `dnn-package.js`

To do this you need to add the following XML inside an existing `ItemGroup` inside of your csproj

[code]

I choose to add it to the same item group where other build scripts are so

[2018-07-19 02:38] ahoefling opened #23 "[MVC] Add Missing License.md and package.json to csproj template"
When creating a new MVC project the generated .csproj file is missing the following files:

+ License.md
+ packages.config

I took a look at the template for SPA projects and they are included and as they should because it is easy to edit these files while inside Visual Studio.

When creating a new project I have to add these manually using the following syntax:

[code]

I would recommend grouping

[2018-07-19 02:43] ahoefling commented on #18
@mtrutledge I was creating a new module today and noticed the same behavior for spaces. You may want to add that to your test case if you haven't already

[2018-07-19 02:46] ahoefling commented on #16
This is exactly what I do and I find it very helpful for rapid development. A couple things that you should really be careful with this:

* Run the mklink command for the dll(s) in the bin directory. I strongly recommend running the command for the pdb so you can get debugger support
* Run the mklink link for the views (cshtml) directory
* mklink and IIS don't play nice, even if I am updating csht

[2018-07-19 03:05] ahoefling opened #25 "[MVC] Settings Page is Broken"
After creating a MVC Module with the generator everything works as expected. When I install the module and goto the settings page it crashes with a DNN Error:

![image](https://user-images.githubusercontent.com/17751436/42919249-fe0e748a-8ade-11e8-8286-fa9292748746.png)

[2018-07-19 03:13] ahoefling commented on #25
This is because the Settings.cshtml file is not being generated correctly. The notes below are from my personal experience with DNN MVC and may not be accurate but I believe they are accurate.

The model is not being declared correctly at line 1 of the file. `@model` syntax works for MVC but in DNN MVC we should use the following syntax:

`@inherits DotNetNuke.Web.Mvc.Framework.DnnWebPageViewPage<

[2018-07-19 03:19] ahoefling opened #26 "[MVC] Settings.resx is not being generated correctly"
When generating a MVC project the Settings.resx file is not being generated correctly the file is malformed and won't open in Visual Studio:

![image](https://user-images.githubusercontent.com/17751436/42919516-559de13a-8ae0-11e8-893d-38dd269ccdd8.png)

After further investigation it appears that the following fields contain <%= moduleName %> which appears to be correct generator syntax as a place

[2018-07-19 03:33] ahoefling opened #28 "No Contributing/Local Dev Guide"
While working on some PRs I noticed there is no dev guide or how to contribute guide. It would be very useful if we had a document on how to build the generator locally and run it. That way people can easily test their changes

[2018-07-19 04:01] mtrutledge commented on #26
I noticed this earlier today and ripped it out on my local machine. I have some more tests to do before committing but this should be fixed when I push my next code.

[2018-07-19 04:01] mtrutledge commented on #25
I fixed this earlier today and will push the code up.

[2018-07-19 05:42] mtrutledge commented on #18
I haven’t had a issue with the spaces only before. I will double check before I push this fix up to make sure.

[2018-07-19 05:44] mtrutledge commented on #26
I added a MVC and SPA label so we can label the issues.

[2018-07-19 05:45] mtrutledge commented on #28
I will get something together.

[2018-07-19 05:48] #23 closed

[2018-07-19 05:49] #21 closed

[2018-07-19 05:52] #25 closed

[2018-07-19 13:47] ahoefling opened #29 "Gulp Package Uses Wrong Version Number"
I believe the packageSource and packageInstall build tasks are creating the incorrect file name and makes it confusing if you are not familiar with module versioning. Since we are using npm we technically have 2 manifest files:

+ package.json
+ modulename.dnn

The dnn manifest is what really matters as far DNN is concerned. When I tried incrementing the version in the `package.json` the dnn manif

[2018-07-19 15:15] mtrutledge commented on #29
I do believe the version of the Dlls is set through the package.json configuration via a gulp task that updates the Assembly Info. So if the manifest is not being updated that is a bug. The initial idea was that gulp would drive the build process. Eventually, I would like the dnn manifest file to be generated for the user so they do not have to manage it. For example, the program would store the u

[2018-07-19 15:55] ahoefling commented on #29
I have some problems with the package.json managing the manifest file.

+ What if a user needs to modify the manifest file for their project and the gulp tasks keep overwriting it?
+ What if a user needs to make their manifest file include multiple modules. One extension that installs multiple dnn modules
+ What if the user needs to add a non-default home route in case of MVC

There is going to be

[2018-07-19 16:16] mtrutledge commented on #29
It will be hard to strike a balance. There may have to be some gulp tasks that are run optionally. If someone uses the npm version command then there should be a hook that would update the manifest versions after the version has been patched.

Or maybe we give instructions to disable a build step if the user wants to manually manage their manifest file. That might be a really good option consideri

[2018-07-19 16:38] nvisionative commented on #29
That is correct @mtrutledge - we also have a separate JSON file for making project setup a bit easier.  That way people do not have to understand all the intricacies of the DNN manifest file.

[2018-07-19 17:01] ahoefling commented on #29
My question is where does this leave the power users? The people that are comfortable modifying the manifest file? They need to find portions of the gulp tasks and update them to not overwrite their changes

[2018-07-19 23:51] nvisionative opened #30 "Add issue template for bug reports"
I'll submit a PR shortly for this

[2018-07-19 23:54] ralphwilliams opened #31 "Add sample API with basic CRUD functionality"
It would be very helpful to have a basic CRUD API and basic db setup to allow the front-end devs a good example of how to get started.

[2018-07-20 00:00] nvisionative opened #33 "Add issue template for feature requests"
I'll submit a PR shortly

[2018-07-20 00:08] nvisionative opened #35 "Add issue template for help and other questions"
I will submit a PR shortly

[2018-07-20 00:09] #33 closed

[2018-07-20 00:10] #30 closed

[2018-07-20 00:11] mtrutledge opened #36 "Create a VueJS option for the SPA Modules"
During the Southern Fried DNN call on 7/19/2018 a suggestion was made to have VueJS as a option for the SPA modules. I think this is a great idea!

[2018-07-20 00:12] mtrutledge commented on #31
Great suggestion @ralphwilliams

[2018-07-20 01:45] #35 closed

[2018-07-20 02:22] mtrutledge commented on #28
Just added a contribute.md file

[2018-07-20 02:22] #28 closed

[2018-07-20 02:23] mtrutledge commented on #29
After some discussions, we are going to change the packageInstall and packageSource to pull the version from the manifest file. Then we are going to add a manifest task that will update the version of the manifest.

[2018-07-20 02:33] ahoefling commented on #29
This is a great compromise where we can still take advantage of all the gulp scripts but still take into account the power users that want to manage the manifest themselves.

Do you want help with this one? We should just need an xml reader that we include and grab the file version. The only issue that may come up is with old manifest files the version isn't set the same way, but I don't think it

[2018-07-20 03:35] ralphwilliams commented on #36
I'll be happy to help with this. I will just need some help getting the project set up.

[2018-07-20 18:57] mtrutledge commented on #20
This actually isnt a bug. You have to say YES to overwrite the SLN file when yeoman asks. I have updated the FAQ section for the project site to include this question and some instructions.

[2018-07-20 18:57] #20 closed

[2018-07-20 19:11] mtrutledge commented on #26
This has been resolved

[2018-07-20 19:11] #26 closed

[2018-07-20 19:12] mtrutledge commented on #19
This has been resolved in version 1.0.7 which will be published shortly.

[2018-07-20 19:12] #19 closed

[2018-07-20 19:12] mtrutledge commented on #18
This has been resolved in version 1.0.7 which will be published shortly.

[2018-07-20 19:12] #18 closed

[2018-07-20 19:18] #6 closed

[2018-07-20 19:19] mtrutledge commented on #5
I am actually going to change this to point users to use nvQuickTheme. We may eventually integrate it, but not right now.

[2018-07-20 20:52] mtrutledge commented on #36
@ralphwilliams I have put out some contribution documentation and I am moving items around in the SPA/templates directory structure so you can add the VueJS template easily. I will post more once I have the development branch updated with the directory structure changes.

[2018-07-20 21:12] mtrutledge commented on #5
Comment added and integrated into the development branch. Will be ready for 1.0.8 release.

[2018-07-20 21:12] #5 closed

[2018-07-20 21:29] mtrutledge commented on #31
In the SPA template, there is currently a RouteConfig.cs file and a DataController.cs file that registers an API endpoint. However, there are not any CRUD examples at the moment. There are two GET endpoints that show an example of the REST style GET. I will add the Put and Post endpoints as well.

Would you also like to see an example in the View.html / ReactJS app that shows how to call a GET to

[2018-07-20 22:03] nvisionative opened #41 "Create an Angular option for the SPA Modules"
## Is your feature request related to a problem?
No problem, just mssing option.

## Describe the solution you'd like
It would be great to have an Angular based SPA option.

## Describe alternatives you've considered
N/A

## Additional context
I suggest we focus initially on Angular 2/4/5/6 (not AngularJS, v1) unless there is demand.

[2018-07-21 15:22] nvisionative commented on #16
Great points @ahoefling - with SPA approach we typically don't have the IIS issue though.

[2018-07-22 16:50] ralphwilliams commented on #31
I think having a basic list example would be nice. The main thing is that it would need to create a db table and perform the functions on that. Just a basic end to end example would be extremely helpful for those of us that know how to manage things on the front end, but need some guidance on the back end part of it. Hope that makes sense.

[2018-07-25 00:48] ahoefling commented on #16
I have been putting some more thought into this and I have come up with a new solution that I think will be really benefit this project. I have added several new gulp tasks that handle a basic local deploy

+ Copies .dll and .pdb files to the bin directory of a local dnn site
+ Delete the Views folder and copies all files recursively from your dev code into your module in DNN

After initial testin

[2018-07-25 11:38] OllyHodgson commented on #31
On the same front, it's be super helpful if the SPA templates included some code to save and retreive QuickSettings.

(happy to break this out into a separate issue if necessary)

[2018-07-25 12:55] nvisionative commented on #16
@ahoefling it would be great to have a gulp command to set the DNN instance path.  That would make it easy to switch sites.  We usually test on multuiple DNN versions during development.  Worst case, the DNN instance path should be stored in a simple JSON file within the project.

[2018-07-25 14:31] mtrutledge commented on #16
@ahoefling <https://github.com/ahoefling> Of course the other option is to use the DnnCli to install the package to a local instance. Since multiple instances are sometimes on a local machine it would be ideal to list those instances somehow so the user could choose which instance. They could run a command like

npm run deploy

It would trigger a gulp script of some sort to prompt for the DNN inst

[2018-07-25 15:46] ahoefling commented on #16
The problem with using the DNN Installer regardless of how we invoke it (DnnCli, etc.) is we need the .PDB files to be shipped into the bin directory. I'm not sure if the DNN installer framework would handle copying over the pdbs unless we specified them in the dnn manifest file.

The idea here is for development, not deployment. As a developer I am going to manage the database myself so it is oka

[2018-07-25 17:07] mtrutledge commented on #16
Here are my thoughts on this:

developer locally runs command `npm run start` (as this is a pretty standard command available for node and js projects)

start does the following:
* Builds the module
* Detects if a DNN instance has been configured in the package.json file. If not prompts and asks for root location of instance. This could later be changes by running somthing like `npm run start —dnn

[2018-07-25 17:51] ahoefling commented on #16
I like this idea a lot but I think we need create a few different commands here to facilitate different development environments:

* npm run start
    * full lifecycle like you mentioned above
* npm deploy
    * Detects if module has ever been installed. if not run execute the following steps
        * Run npm package to build installer
        * Run the dnn installer using something like DnnCli

[2018-07-25 17:54] mtrutledge commented on #16
The watch command can trigger any gulp task, so if it detects a change in a cs file we can have it auto run the build task and then deploy the new dll and pdbs. Gulp itself is not actually doing the build, msbuild is doing the build. The gulp task just executes msbuild.

[2018-07-25 18:12] ahoefling commented on #16
Okay that makes sense on how the watch works as I don't have much experience in that. While msbuild is running via the command line there is an issue with the PDB that are being generated. This is a problem I ran into the other night when I was writing these tasks. When I tried attaching to a pdb that was generated by the gulp task I couldn't. I could only attach to the pdb/dll that was generated

[2018-07-25 18:14] mtrutledge commented on #16
ok that will require some more tests since msbuild is actually running to create the files. Maybe there is another parameter that needs to be passed to msbuild.

[2018-07-25 18:23] ahoefling commented on #16
what is the benefit of having the gulp task generate the dll/pdb in this scenario? Unless I missed something you really can only debug this with visual studio

[2018-07-25 18:33] mtrutledge opened #42 "PDB generated by command line msbuild is not allowing Visual Studio to Debug"
## Describe the bug
When you run `npm run build` and the gulp task triggers msbuild the resulting PDB files generated do not allow an instance of Visual Studio to attach the debugger properly.

## To Reproduce
Steps to reproduce the behavior:
1. Create a project
2. run `npm run build`
3. Deploy the project to a local DNN instance
4. copy the PDB files over to the DNN instance bin directory
5. Laun

[2018-07-25 18:33] mtrutledge commented on #42
NOTE: If you build the csproj file from within Visual Studio the PDBs generated allow attaching to the debugger properly.

[2018-07-25 18:35] ahoefling commented on #16
This makes a lot of sense and I see where you are coming from now.

I did a quick search and I think I found something that may be helpful in our research. It appears there is full .NET Framework debugger support in VS Code (I had no idea). The problem is you need to specify your PDB as portable. My guess is we aren't passing that in the msbuild arguments like you mentioned above.

Take a look at

[2018-07-25 18:36] mtrutledge commented on #16
Thanks Andrew. I will take a look. I also created a new Issue in github for the PDB error. I will move this comment over.

[2018-07-25 18:36] mtrutledge commented on #42
Moving a comment from another issue to this issue.
@ahoefling said:
"I did a quick search and I think I found something that may be helpful in our research. It appears there is full .NET Framework debugger support in VS Code (I had no idea). The problem is you need to specify your PDB as portable. My guess is we aren't passing that in the msbuild arguments like you mentioned above.

Take a look at

[2018-07-25 23:37] nvisionative commented on #16
@mtrutledge and @ahoefling just a thought here - we don't use dnndev.me - we use custom local URLs, so having a way to use those would also be helpful.

[2018-07-26 14:47] mtrutledge commented on #16
@nvisionative Noted. I will keep this in mind.

[2018-07-26 17:20] mtrutledge opened #43 "Alert the user that a new version of the generator is out using the update-notifier"
## Is your feature request related to a problem?
This will prompt the user to let them know they can update their generator

## Describe the solution you'd like
Yeoman implements an update-notifier that will show the user a message if there is a new version. More details can be found here: https://github.com/yeoman/update-notifier

[2018-07-26 17:25] mtrutledge commented on #43
This will also require a documentation update on the gh-pages branch under the FAQ.
## Details
How do I update to the latest version of generator-dnn?
When you see the screen (INCLUDE SCREENSHOT OF SAMPLE ALERT)
You can type `yo` at the command prompt and then select Update Generators

[2018-07-28 04:07] sholman opened #44 "Ability to add modules to an existing solution"
## Describe the solution you'd like
It would be good to be able to run dnn-generator within an existing solution folder and it to default to (or ask) adding the new module project to the existing solution.

## Additional context
Currently, it seems to notice the conflict adding the file and ask if you'd like to overwrite your .sln file. If you say No, it creates the module project, and you can add

[2018-07-28 04:14] sholman opened #45 "Intellisense errors in views of newly generated module"
## Describe the bug
Newly created projects show intellisense errors in views due to missing DotNetNuke.Web.Client reference and missing model declaration

## To Reproduce
Steps to reproduce the behavior:
1. Create new module using yo dnn
2. Open project and browse to Views, Home. Index.html
3. You will see red intellisense squiglies under a number of areas including the using statements, ViewBag,

[2018-07-28 16:08] ahoefling commented on #45
I can confirm this one as well, I have been meaning to make an issue and research the fix. I believe the project is missing a dll reference so it should be an easy pull request

[2018-07-28 16:29] mtrutledge commented on #44
Actually if you say yes it keeps the solution file and adds the project without losing the existing projects.

[2018-07-28 16:50] mtrutledge commented on #44
This is a limitation of the men fs file system yeoman uses. It will not allow a file to be altered without permission from the user.

[2018-07-28 16:58] #45 closed

[2018-07-28 17:00] #44 closed

[2018-07-29 03:54] sholman commented on #45
Adding this reference only solves part of the issue, as the intellisense on the @Dnn and @Url functions doesn't work without a model inheriting from DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

[2018-07-30 01:59] ahoefling commented on #45
Every view should have the following command:

`@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage`

or

`@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Model>`

If it doesn't and it is part of the template either create an issue or create and issue and submit a PR. We are trying to fix them as we see them but there could be views missing the declaration in the template

[2018-08-01 19:28] mtrutledge commented on #36
Ok I have updated the development branch to include a new structure under the SPA folder. A yeoman generator lives under the generators folder and has a template. Once you select a generator it runs index.js. So during the initial prompt when I ask the user what type of module they want to generate when they select SPA the index.js in generator-dnn/generators/spa/ is executed. If you look on the d

[2018-08-01 21:15] nvisionative commented on #36
@mtrutledge can we do the same thing for Angular?  See #41

[2018-08-01 21:15] mtrutledge commented on #36
Absolutely

[2018-08-01 21:17] nvisionative commented on #41
@mtrutledge with this one, should we have an option for each major Angular release?  I would be happy to help with AngularJS and Angular 5 templates.  I have some great ideas for scaffolding using the new HttpClient model shipped with Angular 5.

[2018-08-01 21:43] nvisionative commented on #41
Okay, the quick explanation is this.  AngularJS = Angular 1.  Angular 2/3/4/5/6 are all similar.  There are virtually no similarities between v1 and v2+.  With v2+, while they are all similar patterns, etc., occasionally features come along that impact major things as it relates to DNN module development.  For instance, with Angular 5, the new HttpClient brings significant (and AWESOME) changes to

[2018-08-01 21:49] mtrutledge commented on #41
Yeah I would just start with Angular 5 :)

[2018-08-02 03:06] mtrutledge commented on #4
Until issue https://github.com/dnnsoftware/Dnn.React.Common/issues/147 is fixed the generator will have to use jsx only.

[2018-08-02 23:21] mtrutledge opened #47 "Build ReactJS SPA Template with gulp"
Currently the reactjs spa template is calling out to Webpack to build the ecma script. There should be a way to do this with gulp and Babel so we can reduce the amount of dependencies we are downloading.

[2018-08-08 02:43] mtrutledge opened #48 "Update from Yeoman-Generator 2.0.5 to 3.1.1"
**Need to upgrade to Yeoman-Generator package 3.1.1**
There could be breaking changes in the script that need to be tested.

[2018-08-08 02:44] mtrutledge opened #49 "Upgrade from Gulp 3 to 4"
**Upgrade from Gulp v 3 to v4**
There are several breaking changes because gulp-util was deprecated.

[2018-08-08 22:52] ahoefling opened #50 "GHPages/Docs Link on main README.md"
I don't see any link to the GitHub Pages/Docs website. I see there is a branch to it but no link on the README.md. It should be somewhere on the readme so it is easy to find

[2018-08-11 16:17] nvisionative opened #52 "Add GitHub Topics to repo"
## Please summarize your question in one sentence
For optimum discoverability, you'll need to add topics for **dnn**, **dnncms**, **dotnetnuke** at minimum.

## Give a more extended description
GitHub Topics are added to repos by clicking **Manage Topics** just below the repo **Description**.

[2018-08-11 16:20] nvisionative opened #53 "Update repo Description and README to use optimum keywords"
## Please summarize your question in one sentence
For optimum discoverability, you'll need to update the repo's Description to include **DNN** and **DotNetNuke** keywords at minimum.

## Give a more extended description
A common practice is to use **DNN (formerly DotNetNuke)** within the **Description** and **README**.

[2018-08-13 14:47] #50 closed

[2018-08-13 14:49] mtrutledge commented on #52
These have been added to the repos topics. Thanks David!

[2018-08-13 14:49] #52 closed

[2018-08-13 16:10] mtrutledge commented on #53
I have added DotNetNuke to the description of the Readme file on the development branch. It will be merged back to master and released with version 1.0.8

[2018-08-13 16:10] #53 closed

[2018-08-28 15:16] ahoefling opened #54 "Gulp Scripts Included in Release Build"
## Describe the bug
When you create the installer package the gulp scripts are included and are installed onto DNN. I believe this is in error since the scripts are just designed for building the module not running the module.

This was tested with just MVC but may be occurring in the other module patterns as well

## To Reproduce
Steps to reproduce the behavior:
1. Create a new DNN MVC module
2.

[2018-08-28 16:32] mtrutledge commented on #54
I have this fixed in my development version I am working on now. I will add it to the 1.0.8 milestone.

Thanks Andrew!

[2018-08-29 03:04] sholman opened #55 "DNNModuleAuthorize access set to edit by default on template"
## Describe the bug
When creating a new module, the template uses the attribute [DnnModuleAuthorize(AccessLevel = SecurityAccessLevel.Edit)] on the HomeController. This requires that a user needs edit permissions to the module to be able to view the module

## Expected behavior
I would suggest this be set to [DnnModuleAuthorize(AccessLevel = SecurityAccessLevel.View)] or removed altogether (assumi

[2018-08-29 03:36] ahoefling commented on #54
@mtrutledge I noticed there are a lot of unnecessary artifacts being copied to release as well. For example one of my projects contains a README.txt file in a code folder. That folder structure is being copied over during release packaing. Should I open another issue about this so we can determine the best course of action on handling stuff like this

[2018-08-29 03:39] mtrutledge commented on #54
That is expected behavior with a txt file. The packager does **\*.txt. For this one instance I suppose it makes sense to only do the ReleaseNotes.txt and License.txt files. If you agree lets open a new issue.

[2018-11-27 23:12] mtrutledge opened #59 "Upgrade NPM Packages"
Currently the project needs to have it's NPM and it's child projects NPM packages updated.

[2018-12-20 17:17] mtrutledge commented on #48
Upgraded the packages, but the installer seems to break on the promises when running npm install.

[2018-12-20 20:07] mtrutledge commented on #49
Actually going to look into replacing this with webpack only if possible, or vice versa. This will help keep the template size down.

[2019-01-07 22:31] mtrutledge commented on #48
Remember to add a note to the release notes that yeoman that is installed on the system needs to be updated. Users can update via the yo command and run the update generators option

[2019-01-07 22:40] mtrutledge opened #61 "RFC: Thoughts on moving to yarn"
Currently after the generator creates the templates and files it runs `npm install`. Should we change this over to `yarn`?

This would give us the ability to restructure some of the module directories and use yarn workspaces so we would not have to duplicate the node_modules if the sub-projects used the same modules.

Thoughts?

[2019-01-07 22:42] nvisionative commented on #61
"Yes" would be my vote, well at least for now.  :)

[2019-01-08 15:05] ahoefling commented on #61
I would be interested in seeing if there is any buy-in to move to Cake or no 3rd party build scripts. I would prefer to see yo-dnn take the direction of build script agnostic so devs can choose what they want to use. If that really isn't an option I would recommend taking a look at a pure powershell script or cake which are more front-end agnostic than using gulp vs yarn.

The challenge I have ran

[2019-01-08 15:18] mtrutledge commented on #61
Cake could be used for the build system for C# however, how would users build their angular, vuejs, react, webcomponents modules/apps? Does cake have any support for building those? The modules are so much more than just C# projects now. Maybe this changes with Blazor, but I have a feeling we will always support a html module type because of the flexability.

[2019-01-08 15:25] mtrutledge commented on #61
I have been working on some things where webpack is just used with node (no gulp) and converting the C# projects to support the Roslyn compiler so to build the C# side of things I just call `dotnet build` using the dotnet command line utility (passing parameters to specify building for net461). In this scenario gulp is removed but npm or yarn is still required to build the front end.

[2019-01-08 15:54] mtrutledge commented on #61
Looking a bit more into cake they do have some tasks to run yarn commands. @ahoefling would you envision it working like this:
* Cake runs nuget restore for sln/csproj
* Cake runs yarn/npm to build frontend modules if applicable
* Cake runs dotnet or msbuild for sln/csproj files
* Cake runs package module step
Or someother way?

[2019-01-08 16:10] ahoefling commented on #61
@mtrutledge thanks for all the responses we have a couple things going on here and different directions you can take. I'll start with the simple answer

* Cake isn't going to solve every problem we have

## Right Tool for the Right Job
### MVC Modules
I think you should absolutely use Cake for a MVC Module and anything that is really pure C#. I know MVC modules have frontend code, but let the deve

[2019-01-08 17:02] mtrutledge commented on #61
I do have to be opinionated in some way to make this work at a reasonable level. Otherwise, like you said, it is a lot of work.  I would like the build to be consistent across project types. Especially since a user can add multiple project types to their solution. For instance, I have a project that has webforms, mvc, and react modules in it (the webforms are slowly being replaced with reactjs mod

[2019-01-08 17:35] mtrutledge commented on #47
Wont fix this one. Instead we are looking into removing Gulp.

[2019-01-08 17:35] #47 closed

[2019-01-08 17:40] valadas commented on #61
Msbuild scripts also support running yarn with msbuild.community.tasks, and node.js and yarn are available as nugetbpackages. I use that in my mixed modules to build the frontend and it works good. So with that there are 0 software to install other than Visual Studio, not even node.

[2019-01-08 17:42] mtrutledge commented on #61
Interesting @valadas. Not installing node would work for a project, might be something to consider for the scaffolded projects, but I still need them to install node so they can install yeoman and the generator.

[2019-01-08 17:43] #49 closed

[2019-01-08 17:43] #59 closed

[2019-01-08 17:43] #43 closed

[2019-01-08 17:43] #48 closed

[2019-01-08 17:46] valadas commented on #61
Hmm true, true. But after generated, still useful in CI environments though. Those only need to have Visual Studio and fire up a release build. And we are sure that local and CI builds work exactly the same.

[2019-01-08 17:48] valadas commented on #61
Also useful fir someone who did not generate the project but works on it, like open source modules

[2019-01-08 19:47] bdukes commented on #61
I think that the ideal scenario means primarily interacting with only tool, which could be `cake` or `dotnet` or `yarn`.  But under the covers, any of those tools can be running `gulp` or `webpack` or `cake`.  For example, our workflow inside Engage uses `yarn` to wrap calls to `gulp`, so that getting setup on a project is just calling `yarn` (to install local dependencies) and then `yarn start` t

[2019-02-06 06:11] #8 closed

[2019-02-14 20:21] mtrutledge commented on #42
In the new csproj files DebugType is set to Portable by default since VS Code and the omni sharp plugin want to use those for debugging. If using full visual studio and Portable is not working the project settings can be changed to full.

[2019-02-14 20:21] #42 closed

[2019-02-14 20:32] mtrutledge commented on #12
Turns out the window.dnn.utility.getResx function that is used in the persona bar templates for accessing the resource files is not loaded on the full site. So this will require a module specific approach. Closing this issue.

[2019-02-14 20:32] #12 closed

[2019-02-14 20:39] bdukes commented on #42
FYI, from https://github.com/dotnet/core/blob/master/Documentation/diagnostics/portable_pdb.md#supported-scenarios

[2019-02-15 18:57] mtrutledge commented on #61
In version 1.0.8 I am using `which` to detect if yarn exists and installing based off of that flag. I have updated the readme to reflect using yarn to install instead of npm. I will also make sure that I am pushing yarn in my presentation at summit. Using yarn will allow the use of workspaces in the future. Peter Donker has done some work with cake which might also be integrated via a choice in th

[2019-02-15 18:57] #61 closed

[2019-02-21 18:53] mtrutledge opened #70 "Sln will not build on Mac Visual Studio. Windows won't Build Client from SLN build"
Opening the sln in visual studio on Mac or windows does not fully build the projects because that task is up to yarn build. Probably need to remove the sln file or figure out how to alter the scripts so msbuild triggers front end compiles.

[2019-02-21 18:54] mtrutledge opened #71 "Update docs"
With the new features we need to update the docs on project structure, how to get started, etc.

[2019-02-25 06:48] valadas commented on #70
I have a solution for that, you can run yarn from msbuild and even obtain yarn as a nuget package so it even builds on systems that do not have yarn.

[2019-02-25 06:50] valadas commented on #70
I did not have time to check how the generators work and all that, but if you want to slack me I can show you how, it is like 4 or 5 config lines and even works on CI and all. Just slack me and I can show you, I unfortunately do not have it setup in any public repo at the moment.

[2019-02-26 17:11] mtrutledge commented on #70
My issue is for each template I want the interface to be the same. I want the user to be able to run yarn build and have everything build. But, if the user runs from Visual Studio I need to kick off the client build. I think I am going to set a .env variable when running from yarn build, then if I detect that variable I won't execute the client build from msbuild. This will prevent a build loop fr

[2019-02-26 17:37] bdukes commented on #70
Would it work to have MSBuild just call `yarn run client-build`, rather than needing to use an environment variable?

[2019-02-26 17:39] mtrutledge commented on #70
I will look into that when I fix this defect. At a quick glance, that does appear to work.

[2019-02-27 04:22] valadas commented on #70
Yes, it is possible to run any yarn script from msbuild and use conditions too.

In my own modules I only run yarn when doing a release build and it also works in azure devops pipelines without special tasks there, I just use the normal asp.net template and that is it.

[2019-03-09 15:44] kingjordan commented on #41
Is there any progress on this?  I do all my work in Angular for SPA and I would be willing to help.

[2019-03-11 16:51] mtrutledge commented on #41
I have not been able to start this item. Any help would be appreciated.

[2019-05-15 00:33] mavjt opened #72 "Could not parse JSON in file"
## Describe the bug
I get an error when trying to create a SPA module.  I'm new to yeoman so followed the steps in your tutorial to get everything installed correctly.  Then I created an MVC module which worked perfectly.
Then I went to create an SPA one and it failed after entering the last setting field.

## To Reproduce
Create new folder, go to folder and run yo dnn.
After entering all details

[2019-05-15 14:27] mtrutledge commented on #72
I will take a look at this.

[2019-10-27 19:54] worldheadquarters opened #73 "Whata does this do?"
## Please summarize your question in one sentence
What is the purpose of this module/project?

## Give a more extended description
The purpose of this is not clear.  What do you mean by scaffolding?  What can this "module" accomplish, what problem(s) does it address.

## Steps to reproduce (if needed)

## Other comments or remarks
It looks like it might be interesting, but the information does not

[2019-10-28 13:00] david-poindexter commented on #73
@worldheadquarters this is a [Yeoman](http://yeoman.io/) project that generates various DNN module projects for you.  This is an alternate approach to building a project from scratch, building based on a starter project, or using a project "template".

[2019-10-29 13:49] worldheadquarters commented on #73
Thanks, First time I have ever heard of Yeoman (Other than the guys in the Navy).  Looks interesting

[2019-10-29 17:53] WillStrohl commented on #73
This will give you even more context.  :)
https://www.youtube.com/watch?v=X7oPQ7SUEVg

[2020-01-13 11:10] pstudies opened #74 "SPA Module does not generate install.zip file on Install buil"
Hello Matt,
Thank you for creating this for the DNN community.

I followed the instructions for this generator and also watched your video explaining how to use the generator with SouthernFriedDNN.
However I dont see the install zip being created anywhere for the SPA module. I was unsure how to debug or figure out why this was happening.
I also tried using UpendoDNN generator for the SPA module bu

[2020-01-18 22:46] TimasJackus commented on #74
Hello, @pstudies,

try using `yarn package` or `npm run package` after building application. You will find install in `dist/ProjectName_*.*.*_Install.zip`

[2022-01-20 15:05] wesfincher commented on #36
Curious if any movement has been made on the VueJs addition?  There's a number of forks that I've found so unsure which is the most recent iteration of this repo.

[2022-01-20 15:23] mtrutledge commented on #36
I haven't worked on this tool in a while. I would like to get back to it, but I wasn't really receiving any pull requests from the community either, so I wasn't sure how effective or useful this tool was.

[2022-01-20 15:39] wesfincher commented on #36
Yeah, I imagine that kills one's motivation...I only recently discovered yeoman so I'm not sure how I could help out at this point.  I'll give it a go locally.

[2022-01-20 16:14] david-poindexter commented on #36
@wesfincher in addition to this tool, you may want to also check out https://github.com/UpendoVentures/generator-upendodnn (which is actively maintained).  It follows a different project structure, but maybe that will fit your preferences as well.

Lastly, there is a fantastic Visual Studio template that would also accommodate a VueJS module.  This is honestly our "go to" solution these days for c

[2022-01-20 18:05] wesfincher commented on #36
@david-poindexter - Thanks for the advice.  I tried the upendodnn but the VueJS option is disabled when I use the npm package :-(

Unrelated, how are folks doing Continuous Deployment in DNN?  We've been using the PolyDeploy to deploy multiple modules at once, and have looked at (but not tried) the DeployClient (https://github.com/DNNCommunity/PolyDeploy/tree/develop/DeployClient).  If we could ge

[2022-01-20 18:10] david-poindexter commented on #36
@wesfincher you are welcome.  You may want to check out https://dnncommunity.org/forums/aft/79 regarding the use of PolyDeploy for CI/CD.

[2022-01-20 18:32] mtrutledge commented on #36
@wesfincher I use PolyDeploy and the DeployClient to deploy the packages. I
use Octopus Deploy to coordinate the deployments between my environments.

On Thu, Jan 20, 2022 at 11:10 AM David Poindexter ***@***.***>
wrote:

[2022-01-21 01:19] valadas commented on #36
If you like https://github.com/valadas/Eraware_Dnn_Templates and need a had getting Vue working in it, feel free to ping me. I have used Vue once to give it a try but it should just be a matter of getting the starter template in the Module.Web replacing most of what is there.

And yeah, I have been using Polydeploy too, when I have some time I would like to revamp some of the UI there and make the